
<!-- header -->
<nav class="header navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Crawler</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- menu -->
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul> -->
      <!-- search -->
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">credentials</button>
    </div>
  </div>
</nav>
<!-- buttons -->
<div class="container-fluid container-overview">
  <div class="row g-2 p-2">
    <div class="col">
      <app-state-overview
      [state]="state"
      >
      </app-state-overview>

    </div>
  </div>
</div>
<!-- buttons -->
<div class="container-fluid container-actions">
  <div class="row g-2 p-2">
    <div *ngFor="let action of actions" class="col-12 col-lg-6">
      <app-action-card
        [state]="state"
        [title]="action.title"
        [subTitle]="action.subTitle"
        [description]="action.description"
        [buttonLabel]="action.buttonLabel"
        [buttonStyle]="action.buttonStyle"
        [url]="action.url"
        [id]="action.id?this.state.last.index:''"
        (onState)="updateState($event)"
      ></app-action-card>
    </div>
    <!-- <div class="col-12 col-lg-6">
      <div class="p-3 border bg-light">
        <div class="card-body d-grid gap-2">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button class="btn btn-success  text-center" type="button">Start</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="p-3 border bg-light">
        <div class="card-body d-grid gap-2">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button class="btn btn-danger  text-center" type="button">Start</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="p-3 border bg-light">
        <div class="card-body d-grid gap-2">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button class="btn btn-info  text-center" type="button">Start</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="p-3 border bg-light">
        <div class="card-body d-grid gap-2">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button class="btn btn-warning  text-center" type="button">Start</button>
        </div>
      </div>
    </div> -->
  </div>
</div>


<!-- terminal output -->
<div class="container-fluid container-terminal">
  <div class="row">
    <div class="col">
      <div class="terminal">
        <pre >{{terminal.value}}</pre>
    </div>
    </div>
  </div>
</div>


<!-- footer -->
<div class="container-fluid container-footer text-light bg-primary">
  <div class="row">
    <div class="col">
      Footer
    </div>
  </div>
</div>



<!-- connexion -->



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <label for="inputLogin" class="form-label">Login</label>
      <input type="text" class="form-control" id="inputLogin" [(ngModel)]="credentials.username" name="username">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" [(ngModel)]="credentials.password" name="password">
    </div>
    <button class="btn btn-secondary" (click)="generateBasicAuth()">connection</button>
  </div>

</div>
